# Archivos y carpetas generados por el sistema
.DS_Store
Thumbs.db

# Carpeta de datos de MySQL
mysql/data/

# Carpeta de Jenkins
jenkins_home/

# Archivos de entorno
.env

# Dependencias y archivos temporales
vendor/
node_modules/
*.log
.tmp/